/*--colori--*/
:root{
    --grigio-scuro: #1A1A1A;
    --beige: #f4f1ee;
    --grigio-caldo: #e4e4e4;
    --blu-scuro: #3A4A5A;
    --marrone: #A66B4D;

    --sfondo: var(--beige);
    --testo: var(--grigio-scuro);
}

/*--font--*/
.inter {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.playfair {
  font-family: "Playfair", serif;
  font-weight: 500;
  font-style: normal;
}
.caveat{
  font-family: "Caveat", cursive;
  font-weight: 500;
  font-style: normal;
}
.instrument-sans {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.instrument-serif {
  font-family: "Instrument Serif", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/*overlay grana*/
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url('https://www.transparenttextures.com/patterns/dust.png');
  opacity: 0.5;
  pointer-events: none;
  z-index: 99999;
}

/*evidenzia*/
body::selection{
  background-color: var(--marrone);
}

/*--cursori personalizzati--*/
.cursor-standard{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: var(--sfondo);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  transition: translate .3s cubic-bezier(0.215, 0.610, 0.355, 1);
  pointer-events: none;
  mix-blend-mode: difference;
}

html, body{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

/*--responsive layout--*/
/* Disposizione a griglia per pc */
body{
  background-color: var(--sfondo);
}
/*--navbar--*/
.navbar{
  width: 80vw;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid var(--testo);
  z-index: 99;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
ul li span {
  display: block;
  color: var(--testo);
  padding: 30px 0px;
  text-decoration: none;
}
/*--titolo centro pagina--*/
.title-hero-page{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 0.8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: var(--testo);
}
/*paragrafo laterale*/
.p-laterale{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: var(--testo);
  width: 15vw;
  padding: 20px;
  font-size: 1.3rem;
}
.EsploraProgetti{
  padding: 10px;
  margin: 10px 0 0 0;
  border-radius: 10px;
  border: 2px solid var(--testo);
  color: var(--testo);
}
/*freccia scroll down*/
.arrow{
  width: 60px;
  height: 60px;
  animation: moveUpDown 2s infinite;
}
@keyframes moveUpDown {
  0%, 100%{
    transform: translateY(-15px);
  }
  50%{
    transform: translateY(0px);
  }
}
.aboutMe{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  color: var(--testo);
}
.tit-about{
  text-transform: uppercase;
  border-right: 1px solid var(--testo);
  text-align: right;
}
.p-about{
  font-size: 1.5rem;
}
/*--my "story"--*/
.mystory{
  width: 98vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--grigio-caldo);
  border-radius: 10px;
  text-align: center;
  padding-bottom: 50px;
}
.tit-education{
  font-size: 4rem;
  text-transform: uppercase;
  margin: 0;
  padding: 50px 0 50px 0;
}
.timeline {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  position: relative;
}
.timeline::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 5px;
  border-radius: 20px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--marrone);
}
.annata{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  margin: 50px;
  position: relative;
  --pseudo-positionX: 0%;     /*variabili per l'assegnazione della posizione con js*/
  --pseudo-translateX: -100%;
}
.annata::before{
  content: '';
  position: absolute;
  top: 50%;
  left: var(--pseudo-positionX);
  transform: translate(var(--pseudo-translateX), -50%);
  background-color: var(--marrone);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 2;
}
.anno{
  font-style: italic;
  font-size: 4rem;
}
.titAnno{
  font-size: 3.5rem;
}
.descAnno{
  font-size: 2rem;
}