/*--colori--*/
:root{
    --nero: #0B0B0B;
    --grigio-scuro: #1A1A1A;
    --bianco-caldo: #F5F5F5;
    --grigio-perla: #D1D1D1;
    --beige: #B9AFA3;
    --blu-scuro: #3A4A5A;
    --marrone: #A66B4D;

    --sfondo: var(--bianco-caldo);
    --testo: var(--nero);
}

/*--font--*/
.inter {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.playfair {
  font-family: "Playfair", serif;
  font-weight: 500;
  font-style: normal;
}
.caveat{
  font-family: "Caveat", cursive;
  font-weight: 500;
  font-style: normal;
}
.instrument-sans {
  font-family: "Instrument Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.instrument-serif {
  font-family: "Instrument Serif", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/*overlay grana*/

/*--cursori personalizzati--*/
.cursor-standard{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: var(--sfondo);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  transition: translate .3s cubic-bezier(0.215, 0.610, 0.355, 1);
  pointer-events: none;
  mix-blend-mode: difference;
}

/*--responsive layout--*/
/* Disposizione a griglia per pc */
body{
  background-color: var(--sfondo);
  margin: 0;
  padding: 0;
}
/*--navbar--*/
.navbar{
  width: 80vw;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid var(--beige);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
ul li a {
  display: block;
  color: var(--testo);
  padding: 30px 0px;
  text-decoration: none;
}
/*--titolo centro pagina--*/
.title-hero-page{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 0.8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: var(--testo);
}
.arrow{
  animation: moveUpDown 2s infinite;
}
@keyframes moveUpDown {
  0%, 100%{
    transform: translateY(-15px);
  }
  50%{
    transform: translateY(0px);
  }
}