/*--colori--*/
:root{
    --grigio-scuro: #1A1A1A;
    --beige: #f4f1ee;
    --grigio-caldo: #e4e4e4;
    --blu-scuro: #3A4A5A;
    --marrone: #A66B4D;

    --sfondo: var(--beige);
    --testo: var(--grigio-scuro);
}

/*--font--*/
.inter {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.caveat{
  font-family: "Caveat", cursive;
  font-weight: 500;
  font-style: normal;
}
.geist {
  font-family: "Geist", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.instrument-serif {
  font-family: "Instrument Serif", sans-serif;
  font-weight: 500;
  font-style: normal;
}

/*overlay grana*/
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url('https://www.transparenttextures.com/patterns/dust.png');
  opacity: 0.5;
  pointer-events: none;
  z-index: 99999;
}

/*evidenzia*/
body::selection{
  background-color: var(--marrone);
}

/*--cursori personalizzati--*/
.cursor-standard{
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: var(--sfondo);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999999;
  transition: translate .3s cubic-bezier(0.215, 0.610, 0.355, 1);
  pointer-events: none;
  mix-blend-mode: difference;
}

html, body{
  margin: 0;
  padding: 0;
}

/*--responsive layout--*/
/* ----------------Disposizione a griglia per pc---------------------- */
body{
  background-color: var(--sfondo);
}
/*--navbar--*/
.navbar{
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  background-color: var(--marrone);
  border-radius: 10px;
  margin: 20px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
}
ul li span {
  display: block;
  color: var(--sfondo);
  padding: 20px 10px;
  text-decoration: none;
}
/*menù nav in cascata*/
.menu-nav{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 0vh;
  background-color: var(--marrone);
  color: var(--sfondo);
  z-index: 9999;
  overflow: hidden;
}
/*--blocco home--*/
#home{
  width: 98vw;
  height: 98vh;
  margin: 0;
  padding: 0;
  background-color: var(--grigio-caldo);
  position: relative;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(1%);
  border-radius: 10px;
}
/*--titolo centro pagina--*/
.title-hero-page{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  line-height: 0.8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: var(--testo);
}
/*paragrafo laterale*/
.p-laterale{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: var(--testo);
  width: 15vw;
  padding: 20px;
  font-size: 1.3rem;
}
.EsploraProgetti{
  padding: 10px;
  margin: 10px 0 0 0;
  border-radius: 10px;
  border: 2px solid var(--testo);
  color: var(--testo);
}
/*freccia scroll down*/
.freccia{
  position: absolute;
  bottom: 0;
  left: 50%;
  color: var(--testo);
  display: flex;
  align-items: center;
}
.arrow{
  width: 60px;
  height: 60px;
  animation: moveUpDown 2s infinite;
}
@keyframes moveUpDown {
  0%, 100%{
    transform: translateY(-15px);
  }
  50%{
    transform: translateY(0px);
  }
}
/*--sezione aboutMe--*/
.aboutMe{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0 100px 0;
  color: var(--testo);
}
.tit-about{
  text-transform: uppercase;
  text-align: right;
  width: 20vw;
  margin: 20px;
}
.p-about{
  border-left: 1px solid var(--testo);
  font-size: 2.5rem;
  width: 70vw;
  padding: 20px;
}
/*--my scolastic path--*/
.mystory{
  width: 98vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--grigio-caldo);
  border-radius: 10px;
  text-align: center;
  padding-bottom: 50px;
}
.tit-education{
  font-size: 4rem;
  text-transform: uppercase;
  margin: 0;
  padding: 50px 0 50px 0;
}
.timeline {   /*cont timeline*/
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  padding-bottom: 30px;
}
.timeline::before{    /*--linea della timeline*/
  content: '';
  position: absolute;
  height: 100%;
  width: 5px;
  border-radius: 20px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--marrone);
}
.timeline::after{   /*punto alla fine della timeline*/
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--marrone);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 2;
  border: 5px solid var(--grigio-caldo);
}
.annata{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50vh;
  margin: 50px;
  position: relative;
  --pseudo-positionX: 0%;     /*variabili per l'assegnazione dinamica delle posizioni con js*/
  --pseudo-translateX: -100%;
}
.annata::before{    /*punto di ogni paragrafo*/
  content: '';
  position: absolute;
  top: 50%;
  left: var(--pseudo-positionX);
  transform: translate(var(--pseudo-translateX), -50%);
  background-color: var(--marrone);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  z-index: 2;
  border: 5px solid var(--grigio-caldo);
}
.anno{
  font-style: italic;
  font-size: 4rem;
}
.titAnno{
  font-size: 1.5rem;
}
.descAnno{
  font-size: 2rem;
}
.annata-futuro{
  margin-top: 50px;
}
.error{
  margin: 0;
  font-size: 2rem;
  font-style: italic;
}
.txt-futuro{
  font-size: 3rem;
  text-transform: uppercase;
}


/* ----------------Disposizione a griglia per tablet---------------------- */


/* ----------------Disposizione a griglia per telefono---------------------- */
