.title-font {
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
}

.secondary-font {
  font-family: "Instrument Serif", serif;
  font-weight: 400;
  font-style: normal;
}

.text-font{
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "YOPQ" 300;
}

.jp-font{
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
}

.italic{
  font-style: italic;
}

.highlighted-text {
  color: var(--highlight);
}