.title-font {
  font-family: "Zen Old Mincho", serif;
  font-weight: 400;
  font-style: normal;
}

.secondary-font {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}